//STICKY NAVBAR
//---------------------------------------

.navbar {
	width: 100%;
	height: 120px;
}

.navbar-fixed-top {
	border-top: solid 8px #f07057;
}

.navbar-inner {
	border-top: solid 8px #f07057;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	background-image: none;
	height: 100px;
}

.brand {
	border: 0;
	margin: 20px 0;
	text-decoration: none;
}

.site-nav {
	padding: 0 15px 0 0;
	height: 80px;
	border-right: 1.5px solid #ddd;
}

.dropdown-toggle.main {
	margin: 33px 0 0 80px;
}

/* nav dropdown list*/
.dropdown-menu.main,
.dropdown-menu.main:after,
.dropdown-menu.main:before {
	padding: 0;
	margin: 28px 0 0 -50px;
	outline: none;
	background-color: #fafafa;
	border-left: none;
	border-right: none;
	border-bottom: 5px solid #f07057;
	border-top: none;
	box-shadow: none;
	border-radius: 0;
}

.dropdown-menu.main a{
	margin-left: -10px;
	font-size: 1.1rem;
	font-family: 'Asap', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	padding: 20px 30px;
	background-color: #fafafa;
	border-bottom: 1.5px solid #ddd;
	background-image: none;
}

.dropdown-menu.main a:hover{
	background-color: #f07057;
	color: #fafafa;
	background-image: none;
}

.navbar-form { 
	border-right: 1.5px solid #ddd;
	padding: 0 30 0 50px;

	.search-input,
	.search-input:focus  {
		background-color: inherit;
		border: none;
		padding-left: 20px;
		height: 80px;
		outline: hidden;
		box-shadow: none;
		font-family: 'Arvo', sans-serif;
		font-weight: 400;
		box-shadow: 0;
		font-size: 1.1rem;			
	}
}

.icon-search {
	color: #4b4c3e;
	text-decoration: none;
	padding-right: 30px;
}

.icon-search:hover {
	color: #f07057;
}

.btn-group.sign-in {
	padding-top: 28px;
	float: right;
	border: none;
}

a.btn.dropdown-toggle.sign-in,
a.btn.dropdown-toggle.sign-in:hover,
a.btn.dropdown-toggle.sign-in:visited {
	font-size: 1.1rem;
	font-family: 'Arvo';
	font-weight: 400;
	background-color: inherit;
	background-image: none;
	border: none;
	box-shadow: none;
}

ul.dropdown-menu.sign-in {
	width: 310px;
	position: absolute;
	padding: 0;
	font-family: 'Asap', sans-serif;
	font-size: 1.1rem;
	margin: 36px 0 0 -53px;
	outline: none;
	background-color: #fafafa;
	border-left: none;
	border-right: none;
	border-bottom: 5px solid #f07057;
	border-top: none;
	box-shadow: none;
	border-radius: 0;
}

.sign-in {
	margin: 40px 0 0 -80px;
}

.checkbox {
	margin: 0 20px 0 -40px;
}

#inputPassword,
#inputEmail {
	width: 200px;
	display: inline-block;
	margin-left: -40px;
}

//CALL OUT
//---------------------------------------

.home-hero-wrap {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 460px;
	background-color: #eee;
	margin: 0 auto;
	background-repeat: none;
	z-index: -999;
}

.hero-unit {
	position: relative;
	margin: 50px auto 0;
	text-align: center;
	background-color: inherit;
	width: 75%;
}

//CONTAINER-WRAP
//---------------------------------------

.container-fluid {
	margin-top: 300px;
}

.page-header {
	border-bottom: 0;
}

.page-header h1 {
	margin-top: 40px;
	color: #fafafa;
	font-family: 'Asap', sans-serif;
	font-size: 3.3rem;
	line-height: 3rem;
	letter-spacing: 0.1rem;
}

.page-header small {
	color: #fafafa;
	font-family: 'Arvo', sans-serif;
}

.row-fluid.reading {
	background-color: #eeeeee;
	width: 100%;
	padding-top: 40px;

}

.span8.reading p {
	text-align: left;
	font-size: 1.3rem;
	line-height: 2.1rem;
}

ul.pager {
	margin: 20px 10px 40px -28px;
}

.span2.chapter h4 {
	margin: 0;
	color: #f07057;
	font-family: 'Asap', sans-serif;
	font-weight: 700;
	font-size: 1.7rem;
}
