/* COLOR SCEME   #f07057 #4b4c3e  #534A3E*/
@import "compass_twitter_bootstrap";

/* Large desktop */
@media (min-width: 1200px) {
	font-size: 1.5rem;
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	font-size: 1.75rem;
	.container {
		width: 675px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	font-size: 1rem;
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	font-size: 0.8125rem;
}	

//-------------------------------------------

html {
	font-size: 100%;
}

body {
	background-color: #eeeeee;
	font-color: #534A3E;
}

.container-fluid {
	max-width: 960px;
	height: auto;
	margin: 0 auto;
	padding: 60 10px;
}

hr {
	height: 3px;
	background-color: #dedede;
	border-top: 0.5px solid #fff;
}

h3 {
	margin: 10px 10px 0 10px;
	color: #fff;
	font-family: 'Asap', sans-serif;
	font-size: 1.8rem;
	color: #fff;
}

h4 {
	font-family: 'Asap', sans-serif;
	font-size: 1.6rem; 
	color: #f07057;
	line-height: 1.6rem;
}

h2 {
	font-family:'Arvo', sans-serf;
	color: #4b4c3e;
	font-size: 1.2rem;
}



h6 {
	font-family: 'Asap', sans-serif;
	font-size: 0.9rem;
	color: #4b4c3e;
}

p {
	font-size: 1rem;
	color: #444135;
	font-family: 'Arvo', sans-serif;
	max-width: 70%;
	margin: auto;
	line-height: 1.8rem;
}

.span12.description {
	padding: 40px 0;
	text-align: center;
}

//CALL OUT
//---------------------------------------

.home-hero-wrap {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 460px;
	background-color: #eee;
	margin: 0 auto;
	background-repeat: none;
	z-index: -999;
}

.hero-unit {
	position: relative;
	margin: 50px auto 0;
	text-align: center;
	background-color: inherit;
	width: 75%;
}


//CONTAINER-WRAP
//---------------------------------------

.container-wrap {
	width: 100%;
	background-color: #eeeeee;
	margin: -31px auto;
	position: relative;
	padding-bottom: 40px;
}

.page-header {
	border-bottom: 0;
}

.page-header h1 {
	margin-top: 40px;
	color: #fafafa;
	font-family: 'Asap', sans-serif;
	font-size: 3.3rem;
	line-height: 3rem;
	letter-spacing: 0.1rem;
}

.page-header small {
	color: #fafafa;
	font-family: 'Arvo', sans-serif;
}

//STICKY NAVBAR
//---------------------------------------

.navbar {
	width: 100%;
	height: 120px;
}

.navbar.affix-top{
	margin-top: 460px;
}

.navbar.affix {
	top: 0;
	left: 0;
	z-index: 100;
}

.navbar .affix-offset {
	margin-top: 460px;
}

.navbar.stuck {
	position: fixed;
	z-index: 9999;
	margin: 0 auto;
	padding-top: 100px;
	top: 0;
	box-shadow: 0 1px 4px rgba(0,0,0,0.5);
}

.navbar-inner {
	border-top: solid 8px #f07057;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);
	background-image: none;
	height: 100px;
}

.brand {
	border: 0;
	margin: 20px 0;
	text-decoration: none;
}

.site-nav {
	padding: 0 15px 0 0;
	height: 80px;
	border-right: 1.5px solid #ddd;
}

.dropdown-toggle.main {
	margin: 33px 0 0 80px;
}

/* nav dropdown list*/
.dropdown-menu.main:after,
.dropdown-menu.main:before {
	display: none !important;
}

.dropdown-menu.main {
    padding: 0;
    margin: 28px 0 0 -50px;
    outline: none;
    background-color: #fafafa;
    border-left: none;
    border-right: none;
    border-bottom: 5px solid #f07057;
    border-top: none;
    box-shadow: none;
    border-radius: 0;
}

.dropdown-menu.main a{
    margin-left: 0;
	font-size: 1.1rem;
	font-family: 'Asap', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	padding: 20px 30px;
	background-color: #fafafa;
	border-bottom: 1.5px solid #ddd;
	background-image: none;
}

.dropdown-menu.main a:hover{
	background-color: #f07057;
	color: #fafafa;
	background-image: none;
}

.navbar-form { 
	border-right: 1.5px solid #ddd;
	padding: 0 30 0 50px;

	.search-input,
	.search-input:focus  {
		background-color: inherit;
		border: none;
		padding-left: 20px;
		height: 80px;
		outline: hidden;
		box-shadow: none;
		font-family: 'Arvo', sans-serif;
		font-weight: 400;
		box-shadow: 0;
		font-size: 1.1rem;			
	}
}

.icon-search {
	color: #4b4c3e;
	text-decoration: none;
	padding-right: 30px;
}

.icon-search:hover {
	color: #f07057;
}

.btn-group.sign-in {
	padding-top: 28px;
	border: none;
}

.controls.button{
	position: relative;

	button.btn.signin {
	margin: 10px 0 0 -40px;
	border: none;
	color: #fff;
	text-shadow: none;
	background-image: none;
	background-color: #f07057;
	box-shadow: none;
	font-family: 'Asap', sans-serif;
	}
}



a.btn.dropdown-toggle.sign-in,
a.btn.dropdown-toggle.sign-in:hover,
a.btn.dropdown-toggle.sign-in:visited {
	font-size: 1.1rem;
	font-family: 'Arvo';
	font-weight: 400;
	background-color: inherit;
	background-image: none;
	border: none;
	box-shadow: none;
}

ul.dropdown-menu.sign-in {
	width: 310px;
	position: absolute;
	padding: 0;
	font-family: 'Asap', sans-serif;
	font-size: 1.1rem;
	margin: 36px 0 0 -53px;
	outline: none;
	background-color: #fafafa;
	border-left: none;
	border-right: none;
	border-bottom: 5px solid #f07057;
	border-top: none;
	box-shadow: none;
	border-radius: 0;
}

.sign-in {
	margin: 40px 0 0 -80px;
}

.checkbox {
	margin: 0 20px 0 -40px;
}

#inputPassword,
#inputEmail {
	width: 200px;
	display: inline-block;
	margin-left: -40px;
}

//LEARNING
//---------------------------------------

.span4.learning {
	text-align: center;
	padding: 40px 30px 40px 30px;
	width: 280px;
	margin-right: 20px;
	margin-left: 20px;
	height: 390px;
}

.span4.learning:hover {
	background: #fafafa;
	transition: background .20s ease-in-out;
}

.span4.learing:last-child {
	float: right;
}

a.learning {
	color: #f07057;
	padding-top: 30px;
	font-size: 1rem;
	font-family: 'Arvo' sans-serif;
}

a.learning:hover {
	padding-top: 4px;
	color: #534A3E;
	text-decoration: none;
}

p.learning {
	font-size: 1rem;
	color: #8e8e8e;
	font-family: 'Asap', sans-serif;
	line-height: 1.2rem;
	padding-bottom: 10px;
}

button.branch {
	color: #fff;
	padding: 10px 20px;
	border: none;
	background-color: #8e8e8e;
	box-sizing: content-box;
	font-family: 'Asap', sans-serif;
}

button.branch:focus,
button.branch:hover{
		outline: none;
		opacity: 0.3 ease-in;
		color: #444135;
		transition: background .20s ease-in-out;
}

a.btn.learn-more {
		color: #fff;
		font-size: 1.4rem;
		font-family: 'Asap', sans-serif;
		font-weight: 400;
		width: 200px;
		text-align: center;
		text-shadow: none;
		border-color: #f07057;
		height: 40px;
		padding-top: 20px;
		background-color: #f07057;
		background-image: none;
		background-repeat: no-repeat;
		box-shadow: none;
}

a.btn.learn-more:visited,
a.btn.learn-more:hover {
		transition: all 2s ease-in;

}


//THEMES
//---------------------------------------

.span3.themes {
	font-size: 1rem;
	line-height: 1.7rem;
	text-align: left;
}


button.theme-button {
	width: 250px;
	height: 40px;
	margin-bottom: 20px;
	text-align: left;
	background-color: #fff;
	text-transform: uppercase;
	font-family: 'Asap', sans-serif;
	color: #f07057;
	font-weight: 700;
	letter-spacing: 0.1rem;
	font-size: 1.2rem;
	text-decoration: none;
	padding-right: 4px;
}

button.theme-button {
	border: none;
	box-sizing: none;
	padding: 10px;
}

button.theme-button:hover {
	color: #8e8e8e;
	padding: 10px;
	box-sizing: none;
	border: none;

}

.icon-chevron-right {
	padding: 5px 5px 0 0;
}

//GOOGLE MAPS
//---------------------------------------

iframe {
	width: 100%;
	height: 650px;
	marginheight: 0;
	marginwidth: 0;
	margin: 10px -20px -10px -5px;
	position: relative;
	frameborder: 0; 
	scrolling: no; 
}


//FOOTER
//---------------------------------------

footer {
	width: 100%;
	background-color: #8e8e8e;
	padding: 40px 0;
}

.row.links-vertical {
	margin: 40px 0;
}

.span3.footer {
	margin: 0;
	color: #f07057;
	font-family: 'Asap', sans-serif;
	position: relative;

}

h5.footer {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-size: 1rem;
	color: #444135;

}

ul.footer {
	list-style-type: none;
}

li.footer a{
	font-size: 0.9rem;
	margin-left: -25px;
	line-height: 2rem;
	text-decoration: none;
	color: #F7F5F4;
}

li.footer a:hover{
	color: #f07057;
}

a.social {
	text-decoration: none;
	color: #F7F5F4;
}

a.social:hover {
	color: #f07057;
}



input.span3.subscription,
input.span3.subscription:focus {
	margin-top: 6px;
	height: 30px;
	outline-color: transparent;
	outline-style: none;
	box-shadow: none;
	border: none;
}

button.btn.submit {
	border: none;
	margin-top: 10px;
	color: #fff;
	font-size: 1rem;
	text-align: center;
	height: 40px;
	text-shadow: none;
	background-image: none;
	background-color: #f07057;
	box-shadow: none;
	font-family: 'Asap', sans-serif;
}

button.btn.submit:hover{
	outline: none;
	opacity: 0.3 ease-in;
	background-color: #f07057;
	transition: background .20s ease-in-out;
}

.form.input-prepand {
	height: 80px;
}